/*
img.bg {
    background-image: url("/static/img/background.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

*/


.h2-line {
    color: white;

}

section.cimg {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.section-index {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #c8d6da;
  height: 100vh;
    background-image:url("/static/img/background.jpg");
    background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

  

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(123, 211, 238);
}