/*
body {
    background-image: url("/static/img/background.jpg") ;
    background-position: center center;
    background-repeat: no-repeat repeat;
    background-size: cover;
    background-color: #000000;
}
*/

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }
  
.h2-line {
    color: white;

}

section.cimg {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}