{% include 'header.html' %}

<div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img src="./static/img/panturthawk.jpg">
    </div>
    <h1>Team Kenargi</h1>
</div>

<section class="container home-section">
    <h2>About Team Kenargi</h2>
        <p>
    Welcome to team Kenargi's portfolio. We are in MLH Fellowship Production Engineering program pod 3.3.5.
    Our team name "Kenargi" is a made-up word derived from the letters of our first name. Our mascot is a
    panda-turtle-hawk to represent 3 heads is better than one especially when working on production projects!
    
        </p>
</section>

<section class="container home-section">
    <h2>Introducing the team members</h2>

    <div class="grid-container members-container">

        <figure class="card person-card">
            <img src="./static/img/friends.jpg" alt="Kenargi Member" class="card-img-top">
            <figcaption class="card-body">
                <a href="/profile" class="stretched-link">
                    <h5 class="card-title">Armando</h5>
                </a>
                    <p class="card-text">Mexico City, Mexico</p>
                </figcaption>
            </figure>

            <figure class="card person-card">
                <img src="./static/img/friends.jpg" alt="Kenargi Member" class="card-img-top">
                <figcaption class="card-body">
                    <a href="/profile" class="stretched-link">
                        <h5 class="card-title">Gigi</h5>
                    </a>
                    <p class="card-text">Los Angeles, California</p>
                </figcaption>
            </figure>

            <figure class="card person-card">
                <img src="./static/img/friends.jpg" alt="Kenargi Member" class="card-img-top">
                <figcaption class="card-body">
                    <a href="/profile" class="stretched-link">
                        <h5 class="card-title">Kendra</h5>
                    </a>
                    <p class="card-text">City, State</p>
                </figcaption>
            </figure>
    </div>
</section>


<section class="container home-section">
    <h2>Projects</h2>

    <div class="grid-container projects-container">
        <figure class="card person-card">
            <img src="./static/img/project1.png" alt="Kenargi Project" class="card-img-top">
            <figcaption class="card-body">
                <a href="/project" class="stretched-link">
                    <h5 class="card-title">Portfolio</h5>
                </a>
                <p class="card-text">Our first project</p>
                </figcaption>
            </figure>
        </div>

    </section>


{% include 'footer.html' %}

