{% include 'header.html' %}
<section class=section-index>
<div class="text">
    <h1 style="font-size:50px">[  Welcome Message  ]</h1>
</div>
</section>


<div class="nav-content profile">
    <h1></h1>
    <h2 class="h2-line">My Portfolio</h2>
</div>

<section class="cimg">
   
    
        {% for profile in profiles.values() %}
            <figure class="card person-card">
                <img src="{{ profile.image }}" alt="profile img" class="card-img-top">
                <figcaption class="card-body">
                    <a href="/profiles/{{ profile.name }}" class="stretched-link">
                        <h5 class="card-title">{{ profile.name }}</h5>
                    </a>
                    <p class="card-text">{{ profile.location }} </p>
                </figcaption>
            </figure>
        {% endfor %}
 
</section>

<div class="nav-content profile">
    <h2 class="h2-line">Projects</h2>
</div>

<section class="container home-section">
    

    <div class="grid-container">
        {% for project in projects.values() %}
            <figure class="card person-card">
                <img src="{{ project.image }}" alt="project img" class="card-img-top">
                <figcaption class="card-body">
                    <a href="/projects/{{ project.name }}" class="stretched-link">
                        <h5 class="card-title">{{ project.name }}</h5>
                    </a>
                    <p class="card-text">{{ project.description }}</p>
                </figcaption>
            </figure>
        {% endfor %}
    </div>
</section>



{% include 'footer.html' %}

