<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Team Portfolio">
    <meta property="og:type" content="website">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
    
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="https://fellowship.mlh.io/programs/production-engineering">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>
    <div class="profile">
        <div id="profile-picture" class="profile-picture">     
                <img src="./static/img/friends.jpg">            
        </div>    
        <h1>{{ title }}</h1>
    </div>
  
    <h1>Introducing the team members:</h1>
    
    <style>
        * {
          box-sizing: border-box;  
        }
        
        .row {
          display: flex;
          padding: 10px;
        }
        
        /* Create three equal columns that sits next to each other */
        .column {
          flex: 33.33%;
          padding: 20px;
        }
        </style>
    <div class="row">
        <div class="column">
            <figure>
        <a href="">
          <img src="./static/img/friends.jpg" alt="Kenargi Member" width="150" height="150">
        </a>
          <figcaption>Armando</figcaption>
            </figure>
        </div>
        <div class="column">
            <figure>
                <a href="">
                <img src="./static/img/Gigi_Hui.png" alt="Kenargi Member" width="150" height="150">
                </a>
                <figcaption>Gigi</figcaption>
                  </figure>
        </div>
        <div class="column">
            <figure>
                <a href="">
                <img src="./static/img/friends.jpg" alt="Kenargi Member" width="150" height="150">
                </a>
                <figcaption>Kendra</figcaption>
                  </figure>
        </div>
    </div>   
    
    <h1>Projects: </h1>
    
       
            <a href="">
              <img src="./static/img/project1.png" alt="Kenargi Project" width="150" height="150">
            </a>
              <figcaption>Portfolio</figcaption>
               
    
</body>
</html>