{% include 'header.html' %}

<main>
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{item.image }}" alt="{{ item.name }}">
            </div>
            <h1>{{ item.name }}</h1>
        </div>

        <div class="container profile-info">
            <section>
                <h3><i class="bi bi-file-person-fill"></i>About me</h3>
                <p>{{ item.aboutMe }}</p>
            </section>
            <hr>
            <section>
                <h3><i class="bi bi-gear-fill"></i>Tools and technologies </h3>
                <ul>
                    {% for tool in item.tools %}
                        <li> {{ tool }}</li>
                    {% endfor %}
                </ul>
            </section>
            <hr>
            <section>
                <h3><i class="bi bi-emoji-smile-fill"></i>Hobbies</h3>
                <ul>
                    {% for hobby in item.hobbies %}
                        <li> {{ hobby }}</li>
                    {% endfor %}
                </ul>
            </section>
            <hr>
            <section>
                <h3>Connect with me!</h3>
                <div class="icons-container">
                    <a href="{{ item.github }}"><i class="bi bi-github "></i></a>
                    <a href="{{ item.linkedin }}"><i class="bi bi-linkedin"></i></a>
                </div>
            </section>
        </div>
</main>


{% include 'footer.html' %}

