{% include 'header.html' %}

    <main>
        <section class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="./static/img/logo.jpg">
            </div>
            <h1>{{ title }}</h1>
        </section>

        <div class="container">
            <section>
                <h3>About me</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, consequuntur cum deleniti
                    doloremque
                    eos est eum laborum laudantium modi nisi, non nostrum numquam ratione repellat sit ut vel veniam
                    voluptatum?</p>
            </section>
            <section>
                <h3>Tools and technologies</h3>
                <ul>
                    <li>Java</li>
                    <li>Python</li>
                    <li>HTML</li>
                </ul>
            </section>
            <section>
                <h3>Hobbies</h3>
                <ul>
                    <li>Soccer</li>
                    <li>Playing guitar</li>
                    <li>Listening to music</li>
                </ul>
            </section>
            <section>
                <h3>Connect with me!</h3>
                <ul>
                    <li>Github</li>
                    <li>Linkedin</li>
                </ul>
            </section>
        </div>
    </main>

{% include 'footer.html' %}