
{% include 'header.html' %}


    <main>
        {% for profile in profiles %}
        <section class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{ profile.image }}">
                <h1>{{ title }}</h1>
            </div>
        </section>

        <div class="container">
            <section>
                <h3>About me</h3>
                <p>{{ profile.aboutMe }}</p>
            </section>
            <section>
                <h3>Tools and technologies</h3>
                <ul>
                    {% for tool in profile.tools %}
                        <li> {{ tool }}</li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h3>Hobbies</h3>
                <ul>
                    {% for hobby in profile.hobbies %}
                        <li> {{ hobby }}</li>
                    {% endfor %}      
                </ul>
            </section>
            <section>
                <h3>Connect with me!</h3>
                <ul>
                    <li>{{ profile.github }}</li>
                    <li>{{ profile.linkedin}}</li>
                </ul>
            </section>
        </div>
        {% endfor %}
    </main>


{% include 'footer.html' %}

