{% include 'header.html' %}

<main>
        <div class="profile">
            <div id="profile-picture" class="profile-picture">
                <img src="{{ item.image }}" alt="{{ item.name }}">
            </div>
            <h1>{{ item.name }}</h1>
        </div>


        <div class="container profile-info">
            <section>
                <h3><i class="bi bi-kanban-fill"></i>Description</h3>
                <p>{{ item.description }}</p>
            </section>
            <hr>
            <section>
                <h3><i class="bi bi-gear-fill"></i>Tools and technologies</h3>
                <ul>
                    {% for tool in item.tools %}
                        <li> {{ tool }}</li>
                    {% endfor %}
                </ul>
            </section>
            <hr>
            <section>
                <h3>Check it out!</h3>
                <div class="icons-container">
                    <a href="{{ item.source }}"><i class="bi bi-github "></i></a>
                    <a href="{{ item.link }}"><i class="bi bi-globe"></i></a>
                </div>
            </section>
            <a class="btn btn-outline-primary" href="/" role="button"><i class="bi bi-arrow-return-left"></i>&nbsp;&nbsp;Return
                to home</a>
        </div>
</main>

{% include 'footer.html' %}